Package: com.glesign.fnmactweak
Name: GLESignFnMac
Version: 4.0.1
Architecture: iphoneos-arm
Description: GLESignFnMac rebuilt without CydiaSubstrate. %hook blocks converted to runtime method_setImplementation swizzles, fishhook used for libc rebinds. Identical behaviour to the original 4.0.0 release.
Maintainer: GLESign (upstream: KohlerVG)
Author: Leeksov
Section: Tweaks
Depends: firmware (>= 14.0)
